#form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: nowrap;
  font-weight: bold;
}
input[type="text"]{
  border-color: rgb(21, 21, 111);
  border-radius: 5px;
  padding: 10px 50px 10px 10px;
}
select{
  border-color: rgb(21, 21, 111);
  border-radius: 5px;
  padding: 10px 50px 10px 10px;
}
input[type="submit"]{
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  border-color: rgb(21, 21, 111);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
